section.services
  .flex.flex--space-around
    .col-1
      .services-strip
      .flex-video <iframe src="https://www.youtube.com/embed/C9Pqb1m1zvw" frameborder="0" allowfullscreen></iframe>  
      
      
      
    .col-1.order-first
      p.home-lead.outdented  ... Our services description goes here.
      a(href="http://youtube.com").home-cta View all services
